
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* ------------------------- */
/*    Variables              */
/* ------------------------- */

:root {


    --primary: #F6F6F0;
    --secondary: #2E2E2E;
    --terciary: #2E2E2E;
    
    --txt-button: #F6F6F0;
    font-size: 14px;
  

}



a {
    text-decoration: none;
    color: inherit;
}



/* ------------------------- */
/*    Fuentes                */
/* ------------------------- */


@font-face {
    font-family: "cartoon";
    src: url(../fonts/cartoonCheck-black\ .ttf);
}

@font-face {
    font-family: "aniko-medium";
    src: url(../fonts/aniko-medium.otf);
}




@font-face {
    font-family: "aniko-semibold";
    src: url(../fonts/aniko-semibold.otf);
}


@font-face {
    font-family: "aniko-bold";
    src: url(../fonts/aniko-bold.otf);
}


@font-face {
    font-family: "mattone-black";
    src: url(../fonts/mattone-black.otf);
}


@font-face {
    font-family: "mattone-regular";
    src: url(../fonts/mattone-regular.otf);
}





/* ------------------------- */
/*         Header            */
/* ------------------------- */



.Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2em;
    /* background-color: var(--secondary); */
    color: var(--terciary);
    

}


/* Header versión dekstop */

.Header-nav ul{
    font-family: poppins;
    display: none;
    gap: 64px;
}

.Header-nav li{
    list-style: none;
   
}

.Header-icon{
    font-size: 2rem;
    color: var(--secondary);
}




/* ------------------------- */
/*    Clases reutilizables   */
/* ------------------------- */


.u-bgPrimary {
    background-color: var(--bg-primary);

}

.u-bgSecondary {
    background-color: var(--bg-secondary);

}


.u-title {
    color: var(--title);

}

.u-txtPrimary {
    color: var(--txt-primary);

}

.u-txtSecondary {
    color: var(--txt-secondary);

}








/* ------------------------- */
/*          Modos            */
/* ------------------------- */







/*          Light mode      */
/* ------------------------- */

.u-lightMode{

    --primary: #F6F6F0;
    --secondary: #2E2E2E;
    --terciary: #2E2E2E;
    --txt-button: #F6F6F0;
   


}



/*     Purple/Dark mode      */
/* ------------------------- */


.u-darkMode{

--primary: #352D31;
--secondary: #FEBAD0;
--terciary: #F1EBDD;
--txt-button: #F1EBDD;


}



/*         Pink mode         */
/* ------------------------- */


.u-pinkMode{
    --primary: #FDA6DC;
    --secondary: #FF4821;
    --terciary: #F7F7F0;
    --txt-button: #F7F7F0;
}



/*       Green mode           */
/* ------------------------- */

.u-greenMode{

    --primary: #97A75B;
    --secondary: #FDA6DC;
    --terciary: #fbee37;
    --txt-button: #F7F7F0;
}







/* ----------------------------------*/
/*       Botones-color               */
/* ----------------------------------*/




/* ----------------------------------*/
/*              Botones              */
/* ----------------------------------*/


#light-mode {
    background-color: #F6F6F0;
}

#purple-mode {
    background-color: #352D31;
}

#pink-mode {
    background-color: #FDA6DC;
    
}

#green-mode {
    background-color: #97A75B;
}




@media screen and (min-width: 650px)  {
    
    .Header-nav ul{
        display: flex;
    }

    /* .Header-icon{
        display: none;
    } */



}